# Ignore everything
*

# Except for these files
!*.ts
!*.d.ts
!jest.config.js

# .. also in subdirectories
!*/

# ... in these ones
!apps/**/src/*
!libs/**/src/*

# Explicitly ignore these locations
node_modules
apps/**/dist
libs/**/dist
